<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Host" value="127.0.0.1"/>
        <add key="Port" value="5672"/>
        <add key="VirtualHost" value="/"/>
        <add key="UserName" value="admin"/>
        <add key="Password" value="admin"/>
        <add key="Eap2RmsExchangeName" value="PROD.EAP.RMSCLUSTER"/>
        <add key="Rms2EapExchangeName" value="PROD.RMSCLUSTER.EAP"/>
        <add key="RmsQueueName" value="RMS.QUEUE"/>
        
        <!--超时时间-->
        <add key="TimeOutTime" value="20"/>
    </appSettings>
</configuration>